@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  
  width: 100%;
  background-color: #2a2a2a;
}

.Main {
  width: 300px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;


}

.upper {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.lower {
  flex: 4;
  background-color: #981de5;
  /* color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
height: 202px;
}
.Text {
  width: 200px; /* Adjust the width as needed */
  height:80px; /* Adjust the height as needed */
  padding: 10px;
  border: 2px solid none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: transparent;
  max-width: 200px;
  outline: none;
  overflow-wrap: break-word;

}
.box{
width: 400px;
padding:0 ;
}


