h2 {
  font-size: larger;
  color: #ffffff;
}
p {
  font-size: small;
  color: #ffffff;
}
p1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5vh; */
}

.App {
  display: flex;
  flex-direction: column;

  /* height: 100vh; */
  align-items: center;
  justify-content: center;

}

.App-column1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.App-column2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.App-column3 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.user-profile {
  background-color: #393737;
  height: 21vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.name {
  margin-bottom: -10px;
}
.png {
  height: 50px;

  border-radius: 200px;
  margin-top: 10%;
  width: 50px;
}

.button {
  display: flex;
  height: 35px;
  width: 120px;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  margin-left: 660px;
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
}

.input {
  /* display: flex;
  height: 60px;
  width: 120px;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;
  margin-left: 570px;
  padding: 5px 5px 5px 5px; */
}
